<!DOCTYPE html>
<html>

<body>
    <div style="text-align: center;"> <!-- Centraliza todo o conteúdo dentro desta div -->
        <table style="margin-left: auto; margin-right: auto;" border="0"> <!-- Centraliza a tabela -->
            <tr>
                <td>
                    <img src="https://i.imgur.com/ElpWNhq.png" style="display: block; margin: auto;"> <!-- Centraliza a imagem -->
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <hr style="width:100%; margin: auto;"> <!-- Ajusta e centraliza a linha -->
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <h2 style="color: #3C5579;">Ol&aacute; $nome</h2>
                    <div>
                        Uma tentativa de recupera&ccedil;&atilde;o de usu&aacute;rio foi realizada em seu usu&aacute;rio no sistema Stock Genius.<br><br>
                        Aqui est&aacute; seu usu&aacute;rio de acesso ao sistema: <br>
                        <p style="border-style: dashed; display: inline-block; padding: 10px; border-color: #3C5579;">$usuario</p><br>
                        Caso n&atilde;o tenha feito esta solicita&ccedil;&atilde;o, sugerimos que entre em contato com o administrador do sistema.
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
